
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'JetBrains Mono', monospace;
}

.dogopediaCOntainer{
    display: flex;
    justify-content: space-between;
}
.dogopediaImg{
    padding: 50px 12px 0px;
}

.dogopediaImg img{
    width: 300px;
}

.lastPart{
    display: flex;
    
}

.lastPart div{
    display: block;
    width: 100%;
}
.lastPart {
    padding-left: 20px;
    margin-bottom: 5px;
    width: 100%;
    max-width: 480px;
    gap: 15px;
    display: flex;
    align-items: center;
}

.lastPart p {
    font-size: 18px;
    color: #222222;
    
}
.lastPart img{
    width: 18px !important;
    height: 18px !important;
    
}

.border{
    border-bottom: 0.5px solid gainsboro;
}

.middleContainer{
    width: 250px;
    box-sizing: content-box;
    padding: 50px 12px 0px;
    display: flex;
    flex-direction: column;
}
.padd{
    padding: 14px 16px;
    margin-bottom: 5px;
}

.middleContainer p{
    font-size: 21.14px;
    font-weight: bold;
}

.dogopediaCOntainer{
    gap: 72px;
}

.last{
    margin-left: 28px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center ;
    gap: 15px;
    margin-top: 25px;
}

.viewall{
   background-color: red;
   text-align: center;
   width:  162px;
   height: 42px;
   display: flex;
   align-items: center;
   justify-content: center;
   box-sizing: content-box;
   border-radius: 50rem;
   background-color: #DFC66D;
   margin: 0 auto;
    padding: 8px 18px;
    font-size: 18px;
    position: relative;
    top: 16px;
    left: 0;
    right: 0;
    bottom: 0;
}

.lastPart__hidden{
    padding: 30px 0 30px 50px;
    width: 100%;
    max-width: 420px;
    line-height: 25px;
    color: rgb(34, 34, 34);
}


@media only screen and (max-width: 768px) {
    .dogopediaCOntainer{
        flex-wrap: wrap;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }

}